table {
    border: 1px solid black;
    border-collapse: collapse;
}
th, td {
    border: 1px solid black;
    padding: .2em .7em;
    text-align: right;
    &.left{
            text-align: left;
    }
}
thead, tfoot {
    background-color: rgb(63, 170, 205);
}
tfoot {
    font-weight: bold;
}
@font-face {
    font-family:Courier;
    src: url("fonts/Courier.TTF");
}
h1 {
    font-family: Courier;
}
p {
    font-family: Courier;
}
thead,td {
    font-family: Courier;
}
tfoot {
    font-family: Courier;
}
